<h2>Hello
  <code *ngIf="currentUser"> {{currentUser.userName}}.</code>
  Welcome to <code>Home Library</code> !</h2>
  
<!-- Anonymous people -->
<p><code>Anonymous</code> people can does:</p>
<ul>
  <!-- search by authors, title, subject name, public date -->
  <li class="nav-item" [routerLinkActive]='["link-active"]'>
      <a class="" [routerLink]='["/anonymous/recommended"]'>View recommended books</a>
    </li>
  <li class="nav-item" [routerLinkActive]='["link-active"]'>
    <a class="" [routerLink]='["/search"]'>Search books</a>
  </li>
  <li *ngIf="currentUser == null" class="nav-item" [routerLinkActive]='["link-active"]'>
    <a class="" [routerLink]='["/login"]'>Login</a>
  </li>

  <li class="nav-item" *ngIf="currentUser == null" [routerLinkActive]='["link-active"]'>
    <a class="" [routerLink]='["/members/register"]'>Member Register</a>
  </li>

  <li class="nav-item" *ngIf="currentUser == null" [routerLinkActive]='["link-active"]'>
    <a class="" [routerLink]='["/librarians/register"]'>Librarian Register</a>
  </li>
</ul>

<div *ngIf="currentUser==null">
  <p>Become a <code>member</code> or <code>librarian</code> to use their functions, you can <a target="_blank" class=""
      [routerLink]='["/login"]'>login</a>
    by using the example username/password:
  </p>
  <p>Member: <code>einstein@outlook.com/123456</code> and
    Librarian: <code>father-einstein@outlook.com/123456</code></p>
</div>

<!--Librarian-->
<div *ngIf="currentUser && currentUser.isLibrarian">

  <p><code>Librarians</code> can does:</p>
  <ul>
    <!-- Add/Remove/Edit book: To add, remove or modify a book or book item. -->
    <li class="nav-item" *ngIf="currentUser == null" [routerLinkActive]='["link-active"]'>
      <a class="" [routerLink]="['/librarians/register']">Register</a>
    </li>
    <li *ngIf="currentUser" class="nav-item" [routerLinkActive]='["link-active"]'>
      <a class="link" (click)="logout()">Logout</a>
    </li>
    <li class="nav-item" [routerLinkActive]='["link-active"]'>
      <a class="" [routerLink]='["/librarians/findBooks"]'>View all books</a>
    </li>
    <li class="nav-item" [routerLinkActive]='["link-active"]'>
      <a class="" [routerLink]='["/librarians/addBook"]'>Add new book</a>
    </li>
    <li class="nav-item" [routerLinkActive]='["link-active"]'>
      <div class="link" [routerLink]="['/librarians/findBooks']">
        In the <code>list books</code> you choose a <code>book</code> then <code>edit</code> or <code>delete</code> this
        item</div>
    </li>

    <li class="nav-item" [routerLinkActive]='["link-active"]'>
      <a class="" [routerLink]='["/librarians/findBookItems"]'>View all book items</a>
    </li>
    <li class="nav-item" [routerLinkActive]='["link-active"]'>
      <a class="" [routerLink]='["/librarians/addBookItem"]'>Add new book item</a>
    </li>
    <li class="nav-item" [routerLinkActive]='["link-active"]'>
      <div class="link" [routerLink]='["/librarians/findBookItems"]'>
        In the <code>list book</code> items you choose a <code>book</code> then <code>edit</code> or
        <code>delete</code> this item</div>
    </li>

    <li class="nav-item" [routerLinkActive]='["link-active"]'>
      <a class="" [routerLink]='["/librarians/findMembers"]'>View all members</a>
    </li>
    <li class="nav-item" [routerLinkActive]='["link-active"]'>
      <div class="link" [routerLink]='["/librarians/findMembers"]'>
        In the <code>list members</code> items you choose a <code>member</code> then <code>block</code> or
        <code>unblock</code> this item
      </div>
    </li>

  </ul>
</div>


<div *ngIf="currentUser && currentUser.isMember">
  <p><code>Members</code> can does:</p>
  <ul>
    <!-- Register new account/cancel membership: To add a new member or cancel the membership of an existing member. -->
    <li class="nav-item" *ngIf="currentUser == null" [routerLinkActive]='["link-active"]'>
      <a class="" [routerLink]='["/members/register"]'>Register</a>
    </li>
    <li class="nav-item" *ngIf="currentUser" [routerLinkActive]='["link-active"]'>
      <a class="link" (click)="logout()">Logout</a>
    </li>
    <!-- <li class="nav-item" [routerLinkActive]='["link-active"]'>
      <a class="" [routerLink]='["/members/cancelMembership"]'>Cancel membership</a>
    </li> -->

    <!-- Check-out book: To borrow a book from the library. -->
    <li class="nav-item" [routerLinkActive]='["link-active"]'>
      <a class="" [routerLink]='["/members/checkout"]'>Checkout book</a>
    </li>

    <!-- Reserve book: To reserve a book which is not currently available. -->
    <li class="nav-item" [routerLinkActive]='["link-active"]'>
      <a class="" [routerLink]='["/members/reserve"]'>Reserve book</a>
    </li>

    <!-- Renew a book: To reborrow an already checked-out book. -->
    <li class="nav-item" [routerLinkActive]='["link-active"]'>
      <a class="" [routerLink]='["/members/renew"]'>Renew a book</a>
    </li>

    <!-- Return a book: To return a book to the library which was issued to a member. -->
    <li class="nav-item" [routerLinkActive]='["link-active"]'>
      <a class="" [routerLink]='["/members/return"]'>Return a book</a>
    </li>
  </ul>
</div>

<p>The <code>Library</code> for <code>my family</code> and open for <code>you</code> with <code>love books</code></p>