<div class="example-container mat-elevation-z8">
  <!-- <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div> -->
  <div class="button-row">
    <a mat-button color="primary" [routerLink]="['/librarians/findBooks']">
      BACK TO LIST
    </a>
  </div>
  <mat-card class="example-card">
    <form [formGroup]="bookForm" (ngSubmit)="onFormSubmit(bookForm.value)">

      <mat-form-field class="example-full-width">
        <input matInput placeholder="ISBN" formControlName="isbn">
        <!-- <mat-error>
          <span *ngIf="!bookForm.get('isbn').valid && bookForm.get('isbn').touched">Please enter ISBN</span>
        </mat-error> -->
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Title" formControlName="title" [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!bookForm.get('title').valid && bookForm.get('title').touched">Please enter Title</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Subject" formControlName="subject">
      </mat-form-field>
      <!-- <mat-form-field class="example-full-width">
        <input matInput placeholder="Author" formControlName="author">
      </mat-form-field> -->
      <div class="example-full-width">
          <p>Authors </p>
          <app-tag (notify)="setAuthorsData($event)"></app-tag>
      </div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Publisher" formControlName="publisher">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="PublicationDate" formControlName="publicationDate">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Language" formControlName="language">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="PageNumber" formControlName="pageNumber">
      </mat-form-field>

      <div class="example-full-width">
        <p>Cover image </p>
        <app-image-upload (notify)="setCoverImageData($event)">
        </app-image-upload>
      </div>

      <div class="example-full-width">
        <p>Ebook file </p>
        <app-ebook-upload (notify)="setEbookData($event)">
        </app-ebook-upload>
      </div>

      <div class="example-full-width">
          <p>Tags </p>
          <app-tag (notify)="setTagsData($event)"></app-tag>
      </div>

      <div class="example-full-width">
        <app-tag-autocomplete></app-tag-autocomplete>
      </div>

      <div class="button-row">
        <button mat-raised-button color="primary" type="submit" [disabled]="!bookForm.valid">
          Save
        </button>
      </div>
    </form>
  </mat-card>