<!-- <app-search (notify)="isSearching($event)"></app-search> -->

<app-input-search [value]="searchValue" (notify)="emitSearchValueChange($event)"></app-input-search>
  
<div *ngIf="isShowRecommended">
  <app-chips-basic [label]="labelAuthors" [items]="authorItems" (notify)="setClickAuthorItem($event)">
  </app-chips-basic>
  <a *ngIf="authorItems" mat-button color="primary" [routerLink]="['/authors']">
    ...Click more
  </a>

  <app-chips-basic [label]="labelSubjects" [items]="subjectItems" (notify)="setClickSubjectItem($event)">
  </app-chips-basic>
  <a *ngIf="subjectItems" mat-button color="primary" [routerLink]="['/subjects']">
    ...Click more
  </a>

  <app-chips-basic [label]="labelTags" [items]="tagItems" (notify)="setClickTagItem($event)">
  </app-chips-basic>
  <a *ngIf="tagItems" mat-button color="primary" [routerLink]="['/tags']">
    ...Click more
  </a>

  <app-masonry-grid [label]="labelBooks" [items]="bookItems" (notify)="setClickBookItem($event)">
  </app-masonry-grid>
  <a *ngIf="bookItems" mat-button color="primary" [routerLink]="['/books']">
    ...Click more
  </a>

</div>