<form [formGroup]="searchForm" (ngSubmit)="onFormSubmit(searchForm.value)">
  <mat-form-field class="example-form-field">
    <button mat-button *ngIf="value" matPrefix mat-icon-button type="submit" [disabled]="!searchForm.valid">
      <mat-icon>search</mat-icon>
    </button>
    <input matInput type="text" placeholder="Search by title" [(ngModel)]="value" formControlName="title"
      [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!searchForm.get('title').valid && searchForm.get('title').touched">Please enter Title books</span>
    </mat-error>
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</form>

<div fxLayout="row wrap" fxLayoutGap="12px" fxLayoutAlign="flex-start">
  <mat-card class="link" fxFlex="0 1 calc(13%-0px)" fxFlex.lt-md="0 1 calc(20% - 0px)" fxFlex.lt-sm="100%" fxLayout
    *ngFor="let book of books" (click)="onCardClickEvent(book)">
    <div class="" *ngIf="book.coverImage">
      <img mat-card-image [src]="book.coverImage">
      <!-- <mat-card-content>
        <p>
            {{book.title}}
          </p>
      </mat-card-content> -->
    </div>
    <div *ngIf="book.coverImage==null && book.title!=null">
      <mat-card-title>{{book.title}}</mat-card-title>
    </div>
  </mat-card>

</div>