<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-button color="primary" [routerLink]="['/librarians/findBooks']">
      BACK TO BOOK LIST
    </a>
    <a mat-button color="primary" [routerLink]="['/librarians/findBookItems']">
      BACK TO BOOK ITEM LIST
    </a>
  </div>
  <mat-card class="example-card">
    <form [formGroup]="bookItemForm" (ngSubmit)="onFormSubmit(bookItemForm.value)">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Book Id" formControlName="bookId" [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!bookItemForm.get('bookId')?.valid && bookItemForm.get('bookId')?.touched">Please enter
            BookId</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Barcode" formControlName="barcode" [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!bookItemForm.get('barcode')?.valid && bookItemForm.get('barcode')?.touched">Please enter
            Barcode</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Is Reference Only" formControlName="isReferenceOnly" value="0">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Borrowed Date" formControlName="borrowedDate">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="DueDate" formControlName="dueDate">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Price" formControlName="price">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Book Format Id" formControlName="formatId" value="1">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Book Status Id" formControlName="bookStatusId" value="1">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Purchase Date" formControlName="purchaseDate">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Rack Id" formControlName="rackId" value="1">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="library Id" formControlName="libraryId" value="1">
      </mat-form-field>
      <div class="button-row">
        <button mat-raised-button color="primary" type="submit" [disabled]="!bookItemForm.valid">
          Save
        </button>
      </div>
    </form>
  </mat-card>
</div>