<div>
  <!-- <div class="example-loading-shade" *ngIf="isLoadingResults">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div> -->
  <form [formGroup]="searchForm" (ngSubmit)="onFormSubmit(searchForm.value)">
    <mat-form-field class="example-form-field">
      <button mat-button *ngIf="value" matPrefix mat-icon-button type="submit" [disabled]="!searchForm.valid">
        <mat-icon>search</mat-icon>
      </button>
      <input matInput type="text" placeholder="Search by title, author, subject" [(ngModel)]="value" formControlName="key"
        [errorStateMatcher]="matcher">
      <mat-error>
        <span *ngIf="!searchForm.get('key').valid && searchForm.get('key').touched">Please enter key word</span>
      </mat-error>
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </form>
  
  <div>
    <div *ngFor="let book of books">
      <mat-card class="example-card" (click)="onCardClickEvent(book)">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
              <div class="cover-book" *ngIf="book.coverImage">
                <img mat-card-image [src]="book.coverImage">
              </div>
            </div>
            <div class="col-lg-9 col-md-9 col-xs-12 col-sm-12">
              <div class="container">
                <div class="row">
                  <h2>{{book.title}}</h2>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <h5>{{book.author}}</h5>
                </div>
              </div>
              <div class="container">
                <div class="row right">
                  <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 col-sm-6">Year: {{book.publishDate}}</div>
                  <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 col-sm-6">File: {{book.ebookType}}</div>
                  <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 col-sm-6">Language: {{book.language}}</div>
                </div>
              </div>
              <!-- <div class="container">
                <div class="row">
                  <p>{{book.description}}</p>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>