<div>

  <app-input-search [value]="searchValue" (notify)="emitSearchValueChange($event)"></app-input-search>

  <!-- result tabs -->
  <div *ngIf="isSearching">
    <mat-tab-group>
      <mat-tab *ngIf="booksByTitle.length>0" label="Titles">
        <ng-template matTabContent>
          <app-card-book-list [books]='booksByTitle'></app-card-book-list>
        </ng-template>
      </mat-tab>
      <mat-tab *ngIf="booksByAuthor.length>0" label="Authors">
        <ng-template matTabContent>
          <app-card-book-list [books]='booksByAuthor'></app-card-book-list>
        </ng-template>
      </mat-tab>
      <mat-tab *ngIf="booksBySubject.length>0" label="Subjects">
        <ng-template matTabContent>
          <app-card-book-list [books]='booksBySubject'></app-card-book-list>
        </ng-template>
      </mat-tab>
      <mat-tab *ngIf="booksByTag.length>0" label="Tags">
        <ng-template matTabContent>
          <app-card-book-list [books]='booksByTag'></app-card-book-list>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>