/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
}

body {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.link {
  cursor: pointer;
  color: #007bff;
}

.link:hover {
  color: hotpink;
}

/* selected link */
.link:active {
  color: blue;
}

mat-card{cursor: pointer}

.title{font-size: 1.25rem; font-weight: 500; padding-top: 12px; }