<div class="">
  <!-- <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div> -->
  <div class="button-row">
    <a mat-button color="primary" [routerLink]="['/librarians/findBooks']">
      BACK TO LIST
    </a>
    <a mat-button color="primary" [routerLink]="['/librarians/addBook']">
     ADD NEW BOOK
    </a>
    <a mat-button color="primary" [routerLink]="['/librarians/addBookItem']" [queryParams]="{bookId: book.id}">
      ADD NEW BOOK ITEM
    </a>
  </div>
  <mat-card class="example-card">

    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
          <div class="cover-book" *ngIf="book.coverImage">
            <img mat-card-image [src]="book.coverImage">
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-xs-12 col-sm-12">
          <div class="container">
            <div class="row">
              <h2>{{book.title}}</h2>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <h5>{{book.authors}}</h5>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="container">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-xs-3 col-sm-6">Year: {{book.publicationDate}}</div>
                  <div class="col-lg-3 col-md-3 col-xs-3 col-sm-6">Language: {{book.language}}</div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-xs-3 col-sm-6">Pages: {{book.pageNumber}}</div>
                  <div class="col-lg-3 col-md-3 col-xs-3 col-sm-6">ISBN: {{book.isbn}}</div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-xs-3 col-sm-6">Publisher: {{book.publisher}}</div>
                  <div class="col-lg-3 col-md-3 col-xs-3 col-sm-6">File: {{book.ebookType}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <p>{{book.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <mat-card-actions>
      <a mat-button *ngIf="book.ebookType=='.pdf'" color="primary" target="_blank" href="{{book.ebook}}">
        PREVIEW BOOK
      </a>
      <a mat-button *ngIf="book.ebook" color="primary" target="_blank" href="{{book.ebook}}">
        DOWNLOAD BOOK ({{book.ebookType}})
      </a>
      <a mat-button color="primary" [routerLink]="['/librarians/editBook', book.id]">
        EDIT
      </a>
      <a mat-button color="gray" (click)="deleteBook(book.id)">
        DELETE
      </a>
    </mat-card-actions>
  </mat-card>

</div>