<router-outlet></router-outlet>

<!--Librarian-->
<p><code>Librarians</code> can does:</p>
<ul>
  <!--import book form posts study system-->
  <li class="nav-item" [routerLinkActive]='["link-active"]'>
    <a class="" [routerLink]='["/librarians/actions"]'>Special actions</a>
  </li>

  <!-- Add/Remove/Edit book: To add, remove or modify a book or book item. -->
  <li class="nav-item" [routerLinkActive]='["link-active"]'>
    <a class="" [routerLink]='["/register"]'>Register</a>
  </li>
  <li class="nav-item" [routerLinkActive]='["link-active"]'>
    <a class="" [routerLink]='["/logout"]'>Logout</a>
  </li>

  <li class="nav-item" [routerLinkActive]='["link-active"]'>
    <a class="" [routerLink]='["/librarians/findBooks"]'>View all books</a>
  </li>
  <li class="nav-item" [routerLinkActive]='["link-active"]'>
    <a class="" [routerLink]='["/librarians/addBook"]'>Add new book</a>
  </li>
  <li class="nav-item" [routerLinkActive]='["link-active"]'>
    <a class="" [routerLink]='["/librarians/findBooks"]'>In the list books you choose an book then edit or delete this
      item</a>
  </li>

  <li class="nav-item" [routerLinkActive]='["link-active"]'>
    <a class="" [routerLink]='["/librarians/findBookItems"]'>View all book items</a>
  </li>
  <li class="nav-item" [routerLinkActive]='["link-active"]'>
    <a class="" [routerLink]='["/librarians/addBookItem"]'>Add new book item</a>
  </li>
  <li class="nav-item" [routerLinkActive]='["link-active"]'>
    <a class="" [routerLink]='["/librarians/findBookItems"]'>In the list book items you choose an book then edit or
      delete this item</a>
  </li>

  <li class="nav-item" [routerLinkActive]='["link-active"]'>
    <a class="" [routerLink]='["/librarians/findAllMembers"]'>View all members</a>
  </li>
  <li class="nav-item" [routerLinkActive]='["link-active"]'>
    <a class="" [routerLink]='["/librarians/findMember"]'>Find an member by email</a>
  </li>

  <li class="nav-item" [routerLinkActive]='["link-active"]'>
    <a class="" [routerLink]='["/librarians/blockMember"]'>Block an member by email</a>
  </li>
  <li class="nav-item" [routerLinkActive]='["link-active"]'>
    <a class="" [routerLink]='["/librarians/unblockMember"]'>Unblock an member by email</a>
  </li>
</ul>