<mat-nav-list>
  <a mat-list-item (click)="onSidenavClose()">
    <mat-icon>close</mat-icon>
  </a>
  <a *ngIf="isAuthenticated" (click)="logout()" mat-list-item href="javascript:void(0)">
    <mat-icon></mat-icon> <span class="nav-caption">Logout {{currentUser?.accountName}}</span>
  </a>

  <a mat-list-item routerLink="/about" (click)="onSidenavClose()">
    <mat-icon></mat-icon> <span class="nav-caption">About</span>
  </a>

  <a mat-list-item routerLink="/search" (click)="onSidenavClose()">
    <mat-icon></mat-icon> <span class="nav-caption">Search</span>
  </a>

  <mat-divider></mat-divider>

  <a *ngIf="!isAuthenticated" mat-list-item routerLink="/authentication/register" (click)="onSidenavClose()">
    <span class="nav-caption">Register</span>
  </a>
  <a *ngIf="!isAuthenticated" mat-list-item (click)="login()" (click)="onSidenavClose()">
    <span class="nav-caption hover-pointer">Login</span>
  </a>

</mat-nav-list>